body {
  background-color: black;
}

h1 {
  text-align: center;
  font: 48px arial, sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  color: white;
}

.wall {
  background-image: url("../imports/wall2.png");
  height: 17px;
  filter: brightness(80%);
}

#canvas-container {
  display: flex;
  justify-content: center;
}

#canvas {
  border: 1px solid black;
  background-image: url('../imports/lava_cave.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

#music-toggle {
  color: white;
  margin-left: 200px;
}
