body {
  background-color: black;
}

.title {
  width: 385px;
  height: 96px;
  margin: 0 auto;
  background-image: url("../imports/title.png");
}

h1 {
  text-align: center;
  font: 80px arial, sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 19px;
  color: white;
  font-family: 'BoxfontRoundRegular';
}

.game-container {
}

.app-container {
  width: 1202px;
  margin: 0 auto;
}

.wall {
  background-image: url("../imports/wall2.png");
  height: 17px;
  filter: brightness(170%);
  width: 1202px;
  display: inline-block;

}

#canvas-container {
  display: flex;
  justify-content: center;
  margin-bottom: -3px;
  margin-top: -5px;
}

#canvas {
  margin-bottom: 0;
}

#music-toggle {
  margin-top: 3px;
  color: white;
  font-size: 26px;
}
